/* Authors: Parker Mathewson and Eugene Balaguer */
nav {
	display: block;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.nav {
	list-style: none;
	padding: 5px;
	background-color: gray;
	height: 30px;
}

ul a:link {
	text-decoration: none;
	color: #AB3C25;
}

ul a:hover {
	text-decoration: underline;
}

ul a:visited {
	color: #443AAB;
}

li {
	float: left;
	display: inline-block;
	padding: 5px;
	height: 30px;
	width: 200px;
}

li ul .productdrop {
	background-color: #AAA;
	left: -999px;
	position: relative;
}

li:hover ul .productdrop {
	left: -40px;
}

header {
	display: block;
}

body {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	display: block;
}
div {
	display: block;
}

footer {
	width: 100%;
	background-color: #000;
}

.foot {
	color: white;
	width: 450px;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	text-decoration: none;
	color: black;
}

.front {
	width: 960px;
}
