/* Authors: Parker Mathewson and Eugene Balaguer */
#banner {
	width: 460px;
}

p{
	line-height:2em;
}

nav {
	display: block;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.nav {
	list-style: none;
	padding: 5px;
	background-color: gray;
	height: 30px;
}

ul a:link {
	text-decoration: none;
	color: #AB3C25;
}

ul a:hover {
	text-decoration: underline;
}

ul a:visited {
	color: #443AAB;
}

li {
	float: left;
	display: inline-block;
	padding: 5px;
	height: 30px;
	width: 200px;
}

li ul .productdrop {
	background-color: #AAA;
	left: -999px;
	position: relative;
}

li:hover ul .productdrop {
	left: -40px;
}

header {
	display: block;
}

body {
	font-family: Georgia, Serif;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	display: block;
}

div {
	display: block;
}

footer {
	width: 100%;
	background-color: #000;
}

.foot {
	color: white;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	text-decoration: none;
	color: black;
}

.front {
	width: 960px;
}

.products {
	padding: 15px;
	border: 1px solid black;
	margin-right: 10px;
	
}
.product_table {
	border-spacing: 20px;

}
.yacht_and_cart {
	float:right;
}
#blog_table tr{
	padding: 50px;
	border: 2px solid black;
}
#product_yacht{
	padding: 10px;
	
}
#addtocart{
	padding:5px;
	
}
#addtocart fieldset{
	background-color: green;
	border-color: black;
	border-width: 3px;
}
#addtocart fieldset legend{
	border: solid 10px #000000;
	background-color: green;
	border-width: 3px;
}



#yacht {
	width: 207px;
	margin-left: auto;
	margin-right: auto;
}

#car {
	width: 144px;
	margin-left: auto;
	margin-right: auto;
}

#penguin {
	width: 184px;
	margin-left: auto;
	margin-right: auto;
}

#shirt {
	width: 155px;
	margin-left: auto;
	margin-right: auto;
}
